@page "/"
@using LoginComponent
@inject AuthenticationStateProvider AuthenticationStateProvider
<AuthorizeView>
    <NotAuthorized>
        <Login/>
    </NotAuthorized>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name</h1>
    </Authorized>
</AuthorizeView>
