body {
    background: rgb(186, 231, 231);
}
.row {
    background: #27e1c5;
    border-radius: 30px;
}
img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    fon-width: bold;
}
.btn1:hover {
    background: white;
    border: 1px solid;
    color:black;
}

