@page "/Register"
@using TodoWithLoginFeature.Data
@using TodoWithLoginFeature.Models
@using Microsoft.AspNetCore.Identity

@inject NavigationManager NavigationManager
@inject IUsersData UsersData

<section class="Form my-5 mx-5 ">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <img src="Images/todolist.jpg" class="img-fluid" alt="todolist image"/>
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h1 class="font-weight-bold py-3">Login</h1>
                <h4>Sign into your account</h4>
                <EditForm Model="@newUserItem" OnInvalidSubmit="@AddNewUser">
                    <div class="form-row">
                        <div class="col-lg-7">
                            Username: <br/>
                            <InputTextArea @bind-value="newUserItem.Username"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            Password: <br/>
                            <InputTextArea @bind-value="newUserItem.Password"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            City: <br/>
                            <InputTextArea @bind-value="newUserItem.City"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            Birthyear: <br/>
                            <InputNumber  @bind-value="newUserItem.Birthday"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <button type="submit" class="btn1 mt-3 mb-5">Sign up</button>
                        </div>
                    </div>
                    <p>You already have an account? <a href="/">Log in here</a></p>
                </EditForm>
            </div>
        </div>
    </div>
</section>

@code {
    private User newUserItem = new User();

    private void AddNewUser()
    {
        UsersData.AddUser(newUserItem);
        NavigationManager.NavigateTo("/");
    }
}