@page "/Profile/{username}"
@using TodoClientWithREST.Models
@using TodoClientWithREST.Data

@inject IUsersService usersService
<h3>Profile, @username</h3>

<div class="container">
    <div class="col-lg-4">
        Name: @_user.Username
    </div>
    <div class="col-lg-4">
        
    </div>
</div>

@code {
    [Parameter] public string username { get; set; }
    private User _user;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        _user = await usersService.GetUserByUsernameAsync(username);
    }
}