@using TodoWithLoginFeature.Authentication.Impl
@inherits LayoutComponentBase

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a>
                        <button @onclick="PerformLogout" class="btn1 align-content-sm-end">Log out</button>
                    </a>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{
    private string username;
    private string password;
    private string errorMessage = "";

    [CascadingParameter]
    protected Task<AuthenticationStateProvider> AuthStat { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
    }

    public async Task PerformLogout()
    {
        errorMessage = "";
        username = "";
        password = "";

        try
        {
            ((CustomeAuthenticationStateProvider) AuthenticationStateProvider).Logout();
            NavigationManager.NavigateTo("/");
        }
        catch (Exception e)
        {
        }
    }
}